@keyframes opacidade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #dedede;
    position: relative;
    min-height: 100%;
}

header {
    height: 100px;
    padding-top: 0.1rem;
    position: sticky;
    top: 0;
    background-color: #3f51b5;
    color: white;
}

#titulo {
    font-size: 30px;
    padding-left: 45%;
    margin: auto;
    padding-top: 8px;
}

p {
    font-size: 20px;
    margin: 0;
}

footer {
    background-color: #3f51b5;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

footer p {
    font-size: 15px;
}

main {
    width: 90%;
    margin: auto;
}

img {
    height: fit-content;
    width: fit-content;
}

form {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #b8b8b8;
    background-color: white;
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: #3f51b5;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.1s linear;
    font-weight: 500;
    padding: 10px 20px;
    margin: 2px;
    transition-property: background-color;
}

button:hover {
    background-color: #757de8;
}

input {
    flex: auto;
    border: 1px solid #b8b8b8;
    padding: 4px;
    margin: 3px;
    border-radius: 4px;
}

section {
    background-color: white;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: opacidade 0.2s ease-in-out;
}

section button {
    padding: 5px;
    margin: 0;
}

section form {
    display: flex;
    justify-content: center;
    border: 0;
    padding: 0;
    margin: 0;
}

.headerContainer {
    display: flex;
    justify-content: space-evenly;
}
.headerTitle {
    display: flex;
    flex-direction: column;
}
