body {
    margin: auto;
    font-family: sans-serif;
    background-color: #ffffff;
}

header {
    height: 100px;
    padding-top: 0.1rem;
    position: sticky;
    top: 0;
    background-color: #3f51b5;
    color: white;
}

#titulo {
    font-size: 30px;
    padding-left: 45%;
    margin: auto;
    padding-top: 8px;
}

p {
    font-size: 20px;
    padding-left: 43%;
}

img {
    padding-left: 20%;
    padding-top: 20px;
    float: left;
}

footer {
    bottom: 0;
    height: 70px;
    /* position: fixed; */
    width: 100%;
    background-color: #3f51b5;
    color: white;
}

#rodape {
    font-size: 15px;
    padding-top: 25px;
    padding-left: 40%;
}

main {
    width: 90%;
    margin: auto;
}

form {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #b8b8b8;
    background-color: #dedede;
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: #3f51b5;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.1s linear;
    font-weight: 500;
    padding: 10px 20px;
    margin: 2px;
    transition-property: background-color;
}

button:hover {
    background-color: #757de8;
}

input {
    flex: auto;
    border: 1px solid #b8b8b8;
    padding: 4px;
    margin: 3px;
    border-radius: 4px;
}

section {
    background-color: #dedede;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-animation: form 3s ease-in-out;
    -moz-animation: form 3s ease-in-out;
    -o-animation: form 3s ease-in-out;
    animation: form 3s ease-in-out;
}

@-webkit-keyframes form {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes form {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes form {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes form {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section button {
    padding: 5px;
    margin: 0;
}

section form {
    display: flex;
    justify-content: center;
    border: 0;
    padding: 0;
    margin: 0;
}
